@charset "UTF-8";

body {
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  background-image: url("/images/background2.jpg");
}

a:link {
  color: #005585;
  text-decoration: none;
}
a:visited {
  color: #485270;
}
a:hover {
  color: #b83800;
  text-decoration: underline;
}

#main {
  text-align: center;
  color: red;
}

#task form fieldset {
  border: 0;
  text-align: left;
}

#task .head {
  display: inline-block;
  width: 112px;
  text-align: left;
}

body input[type="text"] {
  width: 150px;
  height: 30px;
  line-height: 30px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  border: 1px solid #fff;
  color: #377D6A;
  padding: 4px 10px;
  border-radius: 4px;
  text-indent: 38px;
  transition: all .3s ease-in-out;
  margin: 0 auto;
}

#task label {
  color: #fff;
  background: #7AB893;
  display: inline-block;
  padding: 7px 4px;
  transform-origin: left center;
  transform: perspective(300px);
  transition: all .3s ease-in-out;
  border-radius: 4px 0 0 4px;
}

#search, #task {
  font-size: 15px;
  color: red;
}

