@charset "UTF-8";

body {
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

a:link {
  color: #005585;
  text-decoration: none;
}
a:visited {
  color: #485270;
}
a:hover {
  color: #b83800;
  text-decoration: underline;
}

#main {
  text-align: center;
}

#main p {
  color: red;
}

form fieldset {
  border: 0;
  text-align: center;
}

#task form fieldset p {
  color: red;
  display: inline-block;
  width: 100px;
  text-align: right;
}

#task input {
  width: 100px;
}


