body {
  background-image: url("/images/background2.jpg");
}

#main {
  text-align: center;
  display: block;
  width:200px;
  margin: 0 auto;
  background-size: auto 100%;
}

#main label input {
  width: 150px;
  height: 30px;
  line-height: 30px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  border: 1px solid #fff;
  color: #377D6A;
  padding: 4px 10px;
  border-radius: 4px;
  text-indent: 38px;
  transition: all .3s ease-in-out;
  margin: 0 auto;
}

#main label span {
  position: absolute;
  margin: 4px -120px;
  color: #fff;
  background: #7AB893;
  display: inline-block;
  padding: 7px 4px;
  transform-origin: left center;
  transform: perspective(300px);
  transition: all .3s ease-in-out;
  border-radius: 4px 0 0 4px;
}

#main form button {
  margin: 0 auto;
}
 
 
 
 
 
 
 
 
 
 
 
