@import "compass/css3"
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);

body {
  background-image: url("/images/background2.jpg");
}

#main {
  text-align: center;
  display: block;
  width:180px;
  margin: 0 auto;
  background-size: auto 100%;
}

#main input {
  
}



