{% extends "layouts/default.html" %}
{% block title %}Welcome to lizqwer home{% endblock %}

{% block content %}
<script src="/js/post.js"></script>

<div id="main">
  <p>Welcome to Lizqwer home!</p>
  <br>
    <input type="file" id="ffile"/>
  <button onclick="sendRequest()">Upload</button>

  <form action="/upload-image" method="post" enctype="multipart/form-data">
    <input id="file" name="file" type="file"><br>
    <input name="s" type="text">
    <input type="submit">
  </form>  
  <a herf="http://cn-hk-dmit.sakurafrp.com:48787/counter/">counter</a>
  <a herf="baidu.com">baidu</a>
</div>
<div id="task">
  <form action="/add-task" method="post" enctype="multipart/form-data">
    <fieldset>
      <p>
        <label>Name:</label>
        <input name="id" type="txt">
      </p>
      <p>
        <label>Url:</label>
        <input name="url" type="text">
      </p>
      <p>
        <label>Attrbutes:</label>
        <input list="attributes" name="attributes">
        <datalist id="attributes">
          <option value="Video">
        </datalist>
      </p>
      <p>
        <label>Come-from:</label>
        <input list="come-from" name="come-from" type="text">
        <datalist id="come-from">
          <option value="Another">
          <option value="LingMeiYushuo">
          <option value="luoli">
          <option value="MMD">
          <option value="MS">
          <option value="Normal">
          <option value="shanchi">
          <option value="YY">
        </datalist>
      </p>
      <p>
        <label>Descriptname:</label>
        <input name="description" type="text">
      </p>
      <p>
      <label>Download-type:</label>
        <input name="downlaod-type" checked type="radio" value="local"> local
        <input name="downlaod-type" type="radio" value="common"> common
        <input name="downlaod-type" type="radio" value="baidu"> baidu
      </p>
      <p>
        <label>zipp:</label>
        <input name="zipp" checked type="radio" value="t"> t
        <input name="zipp" type="radio" value="nil"> nil
      </p>
      <p>
        <label>Password:</label>
        <input list="password" name="password" type="text">
        <datalist id="password">
          <option value="nil">
        </datalist>
      </p>
    <input type="submit">
    </fieldset>
  </form>
</div>
{% endblock %}


