{% extends "layouts/index.html" %}
{% block title %}Welcome to lizqwer home{% endblock %}

{% block content %}
<div id="head">
  <ul>
    <li id="in">
      <form action="/sigin-in-up" method="get" accept-charset="utf-8">
        <button type="submit">Sigin in</button>
      </form>
    </li>
    <li id="up">
      <form action="/sigin-up-up" method="get" accept-charset="utf-8">
        <button type="submit">Sigin up</button>
      </form>
    </li>
  </ul>
</div>


<div id="main">
  <h1>Hello</h1>
  <p>If you want to read, Please sigin in</p>
</div>
{% endblock %}


