{% extends "layouts/index.html" %}
{% block title %}Welcome to lizqwer home{% endblock %}

{% block content %}
<div id="head">
  <ul>
    <li id="in">
      <form action="/sigin-in-up" method="get" accept-charset="utf-8">
        <button type="submit" class="css_btn_class">Sigin in</button>
      </form>
    </li>
    <li id="up">
      <form action="/sigin-up-up" method="get" accept-charset="utf-8">
        <button type="submit" class="css_btn_class">Sigin up</button>
      </form>
    </li>
  </ul>
</div>


<div id="main">
</div>
{% endblock %}


