{% extends "layouts/sigin.html" %}
{% block title %}Sigin-up{% endblock %}

{% block content %}
<div id="head">
  <ul>
    <li id="in">
      <form action="/sigin-in-up" method="get" accept-charset="utf-8">
        <button type="submit">Sigin in</button>
      </form>
    </li>
  </ul> 
</div>
<div id="main">
  <form action="/sigin-up" method="post" enctype="multipart/form-data">
    <input type="text" value="" name="name" id="name"/><br>
    <input type="password" value="" name="password" id="password"/><br>
    <input type="text" value="" name="verif" id="verif"/><br>
    <button type="submit" name="b1" id="b1">注册</button>
  </form>
</div>
{% endblock %}


