{% extends "layouts/sigin.html" %}
{% block title %}Welcome to lizqwer home{% endblock %}

{% block content %}
<div id="head">
  <ul>
    <li id="up">
      <form action="/sigin-up-up" method="get" accept-charset="utf-8">
        <button type="submit" class="css_btn_class">Sigin up</button>
      </form>
    </li>
  </ul> 
</div>
<div id="main">
  <form action="/sigin-in" method="post" enctype="multipart/form-data">
    <label>
      <span>User Name:</span>
      <input type="text" value="" name="name" id="name"/>
    </label><br>
    <label>
      <span>User password:</span>
      <input type="password" value="" name="password" id="password"/>
    </label><br>
    <button type="submit" name="b1" id="b1" class="css_btn_class">登录</button>
  </form>
</div>
{% endblock %}


